<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>globalName</param-name>
        <param-value>Hesham</param-value>
    </context-param>
    <servlet>
        <servlet-name>getterServlet</servlet-name>
        <servlet-class>servletpkg.getter</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>amr</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>setterServlet</servlet-name>
        <servlet-class>servletpkg.setter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getterServlet</servlet-name>
        <url-pattern>/get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setterServlet</servlet-name>
        <url-pattern>/set</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>get</welcome-file>
    </welcome-file-list>
</web-app>
